/* You can add global styles to this file, and also import other style files */

/* Leaflet */
@import "../node_modules/leaflet/dist/leaflet.css";
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
/* Leaflet Sidebar */
@import "../node_modules/leaflet-sidebar-v2/css/leaflet-sidebar.min.css";
/* Leaflet dialog */
@import "../node_modules/leaflet-dialog/Leaflet.Dialog.css";
/* Leaflet modal  */
@import "../node_modules/leaflet-modal/dist/leaflet.modal.css";
/* Leaflet modal  */
@import "../node_modules/leaflet-measure-v2/dist/leaflet-measure.css";
/* Leaflet modal  */
@import "../node_modules/leaflet-control-boxzoom/dist/leaflet-control-boxzoom.css";
/* Leaflet modal  */
@import "../node_modules/leaflet.control.opacity/dist/L.Control.Opacity.css";
/* Leaflet adresses  */
@import "../node_modules/leaflet-control-geocoder/dist/Control.Geocoder.css";

@import '~ngx-toastr/toastr';

@import "~ngx-spinner/animations/ball-scale-multiple.css";
@import "~ngx-spinner/animations/ball-spin.css";

.toast-success {
  top: 50px;
  right: 12px;
}

.toast-error {
  top: 50px;
  right: 12px;
}

.toast-info {
  top: 50px;
  right: 12px;
}

.accordion-button {
   font-size: 14px;
}

.accordion-button:not(.collapsed) {
  color: #42020e;
  background-color: #efb8b8;
  box-shadow: 0 0 0 0.15rem rgba(230, 19, 59, 0.6);
}

.leaflet-control-boxzoom {
  width: 31px;
  height: 31px;
}

.with-background-image {
  background-size: 20px 20px;
  background-position: 4px 3px;
}

.hr {
  opacity: 0.15!important;
}